@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Lenis */ 
html.lenis, html.lenis body {
  height: auto;
}



.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.noControl mux-player {
	/* Hide all controls at once */
	--controls: none;
  }



  
.bgMux mux-player{
  --controls: none;
  --media-object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: inset(0 0);
}

.embedStage iframe{
  width:100%;
  height:auto;
  aspect-ratio: 16/9;
}




:root {
  --red:#ee473a;
  --blue:#2364ed;
  --green:#2aae5a;
  --yellow:#ffc801;
  --orange:#fd8026;
  --paleBule:#80acd6;
  --white:#ffffff;
  --grey:#e7e7e7;
  --ash:#242424;
  --teal:#67e7e5;
  --rose:#fe97db;
  --black:#000000;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  input:focus ~ label,
  input:not(:placeholder-shown) ~ label {
    @apply -translate-y-2 text-xsmall-regular;
  }

  input:focus ~ label {
    @apply left-0;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid #212121;
    -webkit-text-fill-color: #212121;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}

@layer components {
  .content-container {
    @apply max-w-[1440px] w-full mx-auto px-6;
  }

  .contrast-btn {
    @apply px-4 py-2 border border-black rounded-full hover:bg-black hover:text-white transition-colors duration-200 ease-in;
  }

  .text-xsmall-regular {
    @apply text-[10px] leading-4 font-normal;
  }

  .text-small-regular {
    @apply text-xs leading-5 font-normal;
  }

  .text-small-semi {
    @apply text-xs leading-5 font-semibold;
  }

  .text-base-regular {
    @apply text-sm leading-6 font-normal;
  }
  .text-base-semi {
    @apply text-sm leading-6 font-semibold;
  }

  .text-large-regular {
    @apply text-base leading-6 font-normal;
  }

  .text-large-semi {
    @apply text-base leading-6 font-semibold;
  }

  .text-xl-regular {
    @apply text-2xl leading-[36px] font-normal;
  }

  .text-xl-semi {
    @apply text-2xl leading-[36px] font-semibold;
  }

  .text-2xl-regular {
    @apply text-[30px] leading-[48px] font-normal;
  }

  .text-2xl-semi {
    @apply text-[30px] leading-[48px] font-semibold;
  }

  .text-3xl-regular {
    @apply text-[32px] leading-[44px] font-normal;
  }

  .text-3xl-semi {
    @apply text-[32px] leading-[44px] font-semibold;
  }
}

body{
  font-family: "acumin-variable", sans-serif;
}
h1, h2{
  font-size:72pt;
  letter-spacing: -0.02em;
  line-height: 1.1em;
  font-family: "acumin-variable", sans-serif;
  font-variation-settings: "slnt" 0, "wdth" 100, "wght" 546;
}

h3{
  font-size:48pt;
  letter-spacing: -0.02em;
  line-height: 1.1em;
  font-family: "acumin-variable", sans-serif;
  font-variation-settings: "slnt" 0, "wdth" 100, "wght" 700;
}

h4{
  font-size:28pt;
  letter-spacing: -0.02em;
  line-height: 1.1em;
  font-family: "acumin-variable", sans-serif;
  font-variation-settings: "slnt" 0, "wdth" 100, "wght" 700;
}




.navHold, .navHold p, Label{
  font-size:14pt;
  font-family: "acumin-variable", sans-serif;
  font-variation-settings: "slnt" 0, "wdth" 100, "wght" 700;
}

.richText p,.richText, h2.text-2xl {
  font-size:18pt;
  font-family: "acumin-variable", sans-serif;
  line-height: 1em;
  font-variation-settings: "slnt" 0, "wdth" 100, "wght" 700;
}

.textStroke{
  -webkit-stroke-linecap:round;
  stroke-linecap:round;
  -webkit-stroke-linejoin:round;
  stroke-linejoin:round;
}

Button{
  height:55px;
}

.viewButton{
  text-wrap: nowrap;
  overflow-x: hidden;
  max-width:0;
  transition: all .5s cubic-bezier(0.4, 0, 0.4, 1);
  width:auto
}

.singleProduct:hover .viewButton{
  max-width:300px;
}

@media (max-width: 1023px) {
  h1,
  h2 {
    font-size: 48pt;
  }

  h3 {
    font-size: 32pt;
  }

  h4 {
    font-size: 22pt;
  }

  .navHold,
  .navHold p,
  Label {
    font-size: 12pt;
  }

  .richText p,
  .richText,
  h2.text-2xl {
    font-size: 16pt;
  }

  Button {
    height: 48px;
  }
}



